html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  position: relative;
  font: 1rem "Helvetica Neue", Arial, sans-serif;
}

.background, .foreground {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  font-size: 2em;
}

.bar.top {
  top: 0;
  padding-bottom: 0;
}

.bar.bottom {
  bottom: 0;
  padding-top: 0;
}

.bar.left {
  left: 0;
  width: unset;
}

.bar-element {
  margin: 0;
  padding: 0;
}

.text-button {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0.5em 1em;
  background-image: url(../assets/textures/gui/horizontal-button.svg);
  background-size: 100% 100%;
  background-color: transparent;
  color: white;
  font: inherit;
}

.text-button:disabled {
  filter: brightness(80%);
}

.text-button:enabled:hover, .text-button:enabled:active {
  transform: scale(110%);
}

#transform-opportunities {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#transform-opportunities li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  background-size: 100% 100%;
  background-image: url(../assets/textures/gui/icon/frog-girl-head.svg);
  background-color: transparent;
  vertical-align: middle;
  transform: scale(1);
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
}

#transform-opportunities li::before {
  content: "";
}

#transform-opportunities li.appear-growing {
  transform: none;
  opacity: 1;
}

#transform-opportunities li.disappear-shrinking {
  transform: scale(0);
  opacity: 0;
}

.level-title {
  display: block;
}

.level-description {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 1rem;
  max-width: 30em;
  padding: 1em;
}