.menu-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.menu-page {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: white;
  -webkit-text-stroke: 0.02em black;
}

.menu-centered {
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  width: 100vh;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-aspect-ratio: 1/1) {
  .menu-centered {
    width: 100%;
    margin: 0;
  }
}

.menu-main-logo {
   margin-bottom: auto;
}

.menu-horizontal-button {
  margin: 1em 0 0 0;
  border: none;
  box-sizing: content-box;
  background-image: url(../assets/textures/gui/horizontal-button.svg);
  background-size: 100% 100%;
  background-color: transparent;
  padding: 0.5em;
  font: inherit;
  color: inherit;
  transition: transform 0.3s;
}

.menu-horizontal-button:hover, .menu-horizontal-button:active {
  transform: scale(110%);
}
